<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <script
      src="https://kit.fontawesome.com/86c58f43fa.js"
      crossorigin="anonymous"
    ></script>
    <title>Contact Us</title>
  </head>
  <body>
    <header>
      <a href="/" class="logo"><img src="/img/jeep.png" alt="logo" /></a>
      <ul class="navbar">
        <li><a href="/">Home</a></li>
        <li><a href="/services">Our Services</a></li>
        <li><a href="/contact">Contact us</a></li>
      </ul>
    </header>
    <section class="contact">
      <h2>Contact Us</h2>
      <div class="box">
        <input type="text" placeholder="Enter your email" /><br />
        <input type="areatext" placeholder="Enter your message" /> <br />
        <a href="#" class="btn">Send</a>
      </div>
    </section>
    <footer>
      <p>&copy; 2023 All rights reserved.</p>
    </footer>
  </body>
</html>
