<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <script
      src="https://kit.fontawesome.com/86c58f43fa.js"
      crossorigin="anonymous"
    ></script>
    <title>Car rental</title>
  </head>
  <body>
    <header>
      <a href="/" class="logo"><img src="/img/jeep.png" alt="logo" /></a>
      <ul class="navbar">
        <li><a href="/">Home</a></li>
        <li><a href="/services">Our Services</a></li>
        <li><a href="/contact">Contact us</a></li>
      </ul>
    </header>
    <section class="home">
      <div class="text">
        <h1><span>Looking</span> to <br />rent a car</h1>
        <p>we have the best cars ready for you to pick from</p>
      </div>
    </section>
    <section>
      <div class="ride">
        <div class="heading">
          <span>How It Works</span>
          <h1>Rent With 3 Easy Steps</h1>
        </div>
        <div class="ride-container">
          <div class="box">
            <i class="fa-solid fa-location-dot"></i>
            <h2>Choose a Location</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem
              facere libero nesciunt totam velit voluptate!
            </p>
          </div>
          <div class="box">
            <i class="fa-solid fa-calendar-check"></i>
            <h2>Pick Up date</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem
              facere libero nesciunt totam velit voluptate!
            </p>
          </div>
          <div class="box">
            <i class="fa-solid fa-car"></i>
            <h2>Book a Car</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem
              facere libero nesciunt totam velit voluptate!
            </p>
          </div>
        </div>
      </div>
    </section>

    <footer>
      <p>&copy; 2023 All rights reserved.</p>
    </footer>
  </body>
</html>
