<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <script
      src="https://kit.fontawesome.com/86c58f43fa.js"
      crossorigin="anonymous"
    ></script>
    <title>Our Services</title>
  </head>
  <body>
    <header>
      <a href="/" class="logo"><img src="/img/jeep.png" alt="logo" /></a>
      <ul class="navbar">
        <li><a href="/">Home</a></li>
        <li><a href="/services">Our Services</a></li>
        <li><a href="/contact">Contact us</a></li>
      </ul>
    </header>
    <section>
      <div class="services">
        <div class="heading1">
          <span>Best Services</span>
          <h1>
            Explore Our Top Deals <br />
            From Top Rated Dealers
          </h1>
        </div>
        <div class="services-container">
          <div class="box">
            <div class="box-img">
              <img src="/img/car1.jpg" alt="" />
            </div>
            <p>2018</p>
            <h3>Honda Civic</h3>
            <h2>$58,500 | $358 <span>/month</span></h2>
            <a href="#" class="btn">Rent Now</a>
          </div>
          <div class="box">
            <div class="box-img">
              <img src="/img/car2.jpg" alt="" />
            </div>
            <p>2023</p>
            <h3>BMW M5 Sedan</h3>
            <h2>$109,900 | $358 <span>/month</span></h2>
            <a href="#" class="btn">Rent Now</a>
          </div>
          <div class="box">
            <div class="box-img">
              <img src="/img/car3.jpg" alt="" />
            </div>
            <p>2021</p>
            <h3>Mercedes-AMG C63 Coupe</h3>
            <h2>$77,500 | $358 <span>/month</span></h2>
            <a href="#" class="btn">Rent Now</a>
          </div>
          <div class="box">
            <div class="box-img">
              <img src="/img/car4.jpg" alt="" />
            </div>
            <p>2023</p>
            <h3>Mercedes-AMG G63</h3>
            <h2>$179,000 | $358 <span>/month</span></h2>
            <a href="#" class="btn">Rent Now</a>
          </div>
          <div class="box">
            <div class="box-img">
              <img src="/img/car5.jpg" alt="" />
            </div>
            <p>2023</p>
            <h3>Nissan GT-R</h3>
            <h2>$116,040 | $358 <span>/month</span></h2>
            <a href="#" class="btn">Rent Now</a>
          </div>
          <div class="box">
            <div class="box-img">
              <img src="/img/car6.jpg" alt="" />
            </div>
            <p>2023</p>
            <h3>Porsche 911 GT3 RS</h3>
            <h2>$223,800 | $358 <span>/month</span></h2>
            <a href="#" class="btn">Rent Now</a>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <p>&copy; 2023 All rights reserved.</p>
    </footer>
  </body>
</html>
